<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <aside>
            <a class="navbar-brand" href="Home">
                <img src="../../assets/navbar_crystal_ball.png" width="30" height="30" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </aside>
        <article>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Histoire<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Personnages
                </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Saiyans</a>
                            <a class="dropdown-item" href="#">Cyborgs</a>
                            <a class="dropdown-item" href="#">Nameks</a>
                            <a class="dropdown-item" href="#">Animals</a>
                            <a class="dropdown-item" href="#">Aliens</a>
                            <a class="dropdown-item" href="#">Humains</a>
                            <a class="dropdown-item" href="#">Dragons</a>
                            <a class="dropdown-item" href="#">Divinités</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Familles
                </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Goku</a>
                            <a class="dropdown-item" href="#">Végéta</a>
                            <a class="dropdown-item" href="#">Krilin</a>
                            <a class="dropdown-item" href="#">Freezer</a>
                            <a class="dropdown-item" href="#">Cyborg</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Lieux
                </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Villes / Villages / Iles</a>
                            <a class="dropdown-item" href="#">Univers</a>
                            <a class="dropdown-item" href="#">Planètes</a>
                            <a class="dropdown-item" href="#">Autres</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Films<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Galerie<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Contact<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </article>
    </nav>
</section>